snippet mapcmd "Map a vim command to a keystroke with a leader key" b
nnoremap <LEADER>$1 :$2<CR>
inoremap <LEADER>$1 <ESC>:$2<CR>i
endsnippet

snippet mapcmd2 "Map a vim command to a keystroke" b
nnoremap $1 :$2<CR>
inoremap $1 <ESC>:$2<CR>i
endsnippet

snippet nmap "Map something using the leader key in normal mode" b
nnoremap <LEADER>$1 $2
endsnippet
